@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
   <a id="confirm-link" href="@Model.EmailConfirmationUrl">Нажми тут</a> для подтверждения регистрации.
</p>
    }
    else
    {
<p>
        Проверьте подтверждение вашего аккаунта.
</p>
    }
}
