@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль был сброшен. <a asp-page="./Login">Нажмите тут для входа</a>.
</p>
