@page "/"




<AuthorizeView>
    <Authorized>

        

    </Authorized>
    <NotAuthorized>
        <h1>Привет, покупатель!</h1>
        <p>Пожалуйста, войди, или зарегистрируйся.</p>


      
    </NotAuthorized>
</AuthorizeView>
