@page "/"
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor


<AuthorizeView>
    <Authorized>

        @code{

            public static string CurrentUserName;

            protected override async Task OnInitializedAsync()
            {
                CurrentUserName = httpContextAccessor.HttpContext.User.Identity.Name;
            }

            public string Name { get; set; }
            public int Cost { get; set; }
            public int TotalId { get; set; }
            public int UpdatedCost { get; set; }

            BasketCore bc = new BasketCore();

        }

        <form>
            <div class="form-group col-md-6">
                <label for="productName">Название товара</label>
                <input type="name" class="form-control" id="productName1" placeholder="Товар" @bind="Name">
            </div>
            <div class="form-group col-md-6">
                <label for="productCost">Цена товара</label>
                <input type="cost" class="form-control" id="productCost1" placeholder="0" @bind="Cost">
            </div>
            <button type="submit" class="btn btn-primary" @onclick="() => bc.Insert(CurrentUserName, Name, Cost)">Добавить товар</button>

            <div class="form-group col-md-6">
                <label for="productName">Номер заказа</label>
                <input type="id" class="form-control" id="totalId" placeholder="Товар" @bind="TotalId">
            </div>
            <div class="form-group col-md-6">
                <label for="productName">Новая цена</label>
                <input type="cost" class="form-control" id="updatedCost" placeholder="Товар" @bind="UpdatedCost">
            </div>
            <button type="submit" class="btn btn-primary" @onclick="() => bc.Delete(TotalId, CurrentUserName)">Удалить товар</button>
            <button type="submit" class="btn btn-primary" @onclick="() => bc.Update(TotalId, CurrentUserName, UpdatedCost)">Изменить цену</button>
            @*<button type="submit" class="btn btn-primary" @onclick="()=> Remove(Name)">Удалить товар по имени</button>
        <button type="submit" class="btn btn-primary" @onclick="()=> ChangeCost(Name, Cost)">Изменить цену товара по имени</button>*@
        </form>

        <br>

        <div class="form-group col-md-8">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Номер заказа</th>
                        <th scope="col">Название</th>
                        <th scope="col">Цена</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        foreach (var item in bc.Select(CurrentUserName))
                        {
                            <tr>
                                <th scope="row">@item.TotalId</th>
                                <td>@item.Name</td>
                                <td>@item.Cost</td>
                            </tr>
                        }
                    }
                <tr class="table-active">
                    <th scope="row">Общая цена:</th>
                    <td></td>
                    <td>@bc.Select(CurrentUserName).Sum(i => i.Cost)</td>
                </tr>

                </tbody>
            </table>
        </div>

    </Authorized>
    <NotAuthorized>
        <h1>Привет, покупатель!</h1>
        <p>Пожалуйста, войди, или зарегистрируйся.</p>
    </NotAuthorized>
</AuthorizeView>
